<div class="container">

    <app-license></app-license>

    <div class="background-container">
        <div>
            <h4>Type</h4>
            <div class="property-container" *ngFor="let type of types">
                <img class="type" [src]="type.value" [alt]="type.value">
                <div class="checkbox"></div>
            </div>
        </div>
        <div>
            <h4>Colors</h4>
            <div class="property-container" *ngFor="let color of colors">
                <div class="color" [style.backgroundColor]="color.value"></div>
                <div class="checkbox"></div>
            </div>
        </div>
        <div>
            <h4>Patterns</h4>
            <div class="property-container" *ngFor="let pattern of patterns">
                <img class="pattern" [src]="pattern.value" [alt]="pattern.value">
                <div class="checkbox"></div>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button (click)="printBtnClick()">PRINT</button>
    </div>

</div>

<a href="https://github.com/enoy19/sock-license">GitHub Repository</a>