.container {
    width: 400px;
    padding-top: 100px;
    position: relative;
}

@media print {
    button {
        display: none !important;
    }

    .background-container {
        transform: rotateX(180deg);
    }
}

.background-container {
    margin-bottom: 10px;
    display: flex;

    & > * {
        width: 33%;
        padding: 0 30px;
    }

    h4 {
        margin: 16px 0 10px;
    }
}

.property-container {
    display: flex;
    justify-content: space-between;
}

.color, .type, .pattern, .checkbox {
    width: 16px;
    height: 16px;
    margin-bottom: 6px;
    display: block;
}

.color, .checkbox {
    border: solid 2px rgba(0, 0, 0, 0.3);
}

.type, .pattern, .type + .checkbox, .pattern + .checkbox {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

label {
    font-size: .75em;
    color: rgba(0, 0, 0, 0.55);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.btn-container {
    text-align: center;
}

button {
    background-color: #63d;
    color: #fff;
    padding: 10px 20px;
    border: 0 none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1em;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }
}

a {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#arrow-image {
    left: 19%;
    top: 40%;
    transform: translate(-100%, -100%);
    z-index: 1;
}

#arrow-input {
    left: 33%;
    top: 67%;
    transform: translate(-100%, -100%);
    z-index: 1;
}

#arrow-print {
    left: 37%;
    bottom: 20%;
    transform: translate(-100%, 100%);
    z-index: 1;

}

#arrow-fold {
    right: 0%;
    bottom: 67%;
    transform: translate(100%, 100%);
    z-index: 1;
}