.container {
    background: url('../../assets/images/sock-license-front.png');
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-bottom: 10px;
}

.left {
    width: 30%;
    padding: 10px;
}

.right {
    width: 70%;
    padding: 10px;
}

.header {
    height: 25%;
    display: flex;

    .right {
        display: flex;
        align-items: center;
    }

    h1 {
        margin: 0;
        text-align: center;
    }
}

.body {
    display: flex;
    flex: 1;

    .left {
        display: flex;
        align-items: center;
    }

    .right {
        display: flex;
        flex-wrap: wrap;

        & > div {
            min-width: 45%;
            display: flex;
            align-items: center;
        }
    }

    p {
        margin-top: 0;
    }

    input[type="file"] {
        display: none;
    }

    img {
        cursor: pointer;
    }
}

label {
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: bold;
    font-size: 0.66em;
}

img {
    width: 100%;
}