<div class="container">

  <div class="header">
    <img src="../../assets/images/sock-front-top-left.png" alt="sock" class="left">
    <div class="right">
      <h1>Sock License</h1>
    </div>
  </div>

  <div class="body">

    <div class="left">
      <img [src]="userImage" alt="user" (click)="triggerFileUpload(file)" 
        (drop)="onUserImageDrop($event, file)" (dragover)="$event.preventDefault()" 
        (dragenter)="$event.preventDefault()">
      <input type="file" #file (change)="onUserImageChange(file)">
    </div>

    <div class="right">

      <div>
        <div class="property-container">
          <label for="surname">Surname</label>
          <p contenteditable="true">Surname</p>
        </div>
      </div>

      <div>
        <div class="property-container">
          <label for="sock-id">Sock identification no.</label>
          <p contenteditable="true">Sock id</p>
        </div>
      </div>

      <div>
        <div class="property-container">
          <label for="given-name">Given name</label>
          <p contenteditable="true">Given name</p>
        </div>
      </div>

      <div>
        <div class="property-container">
          <label for="date-of-expiry">Date of expiry</label>
          <p contenteditable="true">Expiry</p>
        </div>
      </div>

    </div>

  </div>

</div>