.container {
    display: flex;
    flex-direction: column;
    border-bottom: dashed 2px rgba(0, 0, 0, 0.2);
}

.left {
    width: 30%;
    padding: 10px;
}

.right {
    width: 70%;
    padding: 10px;
}

.header {
    height: 25%;
    display: flex;

    .right {
        display: flex;
        align-items: center;
    }

    h1 {
        margin: 0;
        text-align: center;
    }
}

.body {
    display: flex;
    flex: 1;

    .left {
        display: flex;
        align-items: center;
    }

    .right {
        display: flex;
        flex-wrap: wrap;

        & > div {
            min-width: 45%;
            display: flex;
            align-items: center;
        }
    }

    p {
        margin-top: 0;
    }

    input[type="file"] {
        display: none;
    }

    img {
        cursor: pointer;
    }
}

label {
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: bold;
    font-size: 0.66em;
}

img {
    width: 100%;
}

p[contenteditable] {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}